.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listItem {
  margin: 15px;
  max-width: 300px;
}

.card {
  padding: 10px;
  transition: transform 250ms linear;
}

.card:hover {
  box-shadow: 4px 4px 8px 0px #000;
  transform: scale(1.05);
  border-radius: 10px;
}

.title {
  font-size: 16px;
  margin: 0;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
