.header {
  background-color: #343835;
  position: relative;
}

.logo {
  position: absolute;
  left: 50px;
  top: 50%;
  margin: 0;
  font-size: 32px;
  transform: translateY(-50%);
}

.logoAccent {
  color: tomato;
}

nav {
  display: flex;
  justify-content: center;
}

.link {
  display: inline-block;
  padding: 25px 12px;
  font-size: 18px;
  color: #8a8a8a;
  transition: color 250ms linear;
}

.link:hover {
  color: #fff;
}

.activeLink {
  color: #fff;
  position: relative;
}

.activeLink::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: tomato;
  content: "";
  bottom: 0;
  left: 0;
}

.mr {
  margin-right: 20px;
}
